

.card-noticias{
       
        /* Rectangle 56 */
        width: 100px;
        height: 346px;
        left: 448px;
        top: 1452px;
        background: #FFFFFF;
}

.img-noticias {
    
        left: 448px;
        top: 1452px;
       
 
}