:root{
    --bg-color-dark: #1F2937;
    --bg-color-card: #192029;
    --text-color: #DFF4FF;
    --text-color-secundary: #C7DEE8;
    --text-color-third: #71CEF2;
    --text-color-placeholder: #A5BAC7;
    --font-family: 'Poppins', sans-serif;
    --box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    --bg-gradient-stan: linear-gradient(124.5deg, #18273F 0%, #142D33 100%);
    --bg-gradient-1: linear-gradient(127.43deg, #1F2937 0%, #18273F 11.08%, #142D33 29.98%, #1F2937 53.86%);
    --bg-gradient-convocatorias: linear-gradient(141.34deg, #1C2531 24%, #18273F 36.15%, #142D33 56.85%, #1C2531 83.02%);
}

body{
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--bg-color-dark);
}

a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    color: var(--text-color);
}

.hero {
    font-weight: 700;
    font-size: 3.125rem;
}
.encabezado-1 {
    font-weight: 700;
    font-size: 2.5rem;
}
.encabezado-2 {
    font-weight: 700;
    font-size: 2rem;
}
.encabezado-3 {
    font-weight: 500;
    font-size: 1.5625rem;
}
.encabezado-4 {
    font-weight: 500;
    font-size: 1.375rem;
}
.text-1{
    font-weight: 700;
    font-size: 1.1875rem;
}
.text-2{
    font-weight: 400;
    font-size: 1.1875rem;
}
.text-3{
    font-weight: 700;
    font-size: 1rem;
}
.text-4{
    font-weight: 400;
    font-size: 1rem;
}
.text-5{
    font-weight: 400;
    font-size: .85rem;
    
}
.text-date{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 4%;
    text-transform: uppercase;
}
.text-deg {
    background: -webkit-linear-gradient(45deg, #C7DEE8 8.1%, #71CEF2 90.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    background-color: red;
}


.btn{
    font-size: 1rem;
    padding-bottom: 10px;
    padding-top:10px ;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--text-color);
    color: var(--bg-color-dark);
    font-weight: 700;
    text-transform: uppercase;
    border-color: var(--bg-color-dark);
    border-radius: 20px;
    
}

.btn:hover{
    color: var(--bg-color-dark);
    background-color: var(--text-color-third);
}
.btn::shadow{
    background-color: red;
}


.btn-deg {
    background: linear-gradient(124.5deg, #18273F 0%, #142D33 100%);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    font-weight: 700;
    font-size: 2rem;
    text-transform: none;
    padding: 1.5rem;
}

.btn-deg:hover {
    border-color: var(--bg-color-dark);
    color: var(--text-color);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Esto lo agrege para que el area de texto tenga una scroll bar y no lo puedan redimenzionar  */

textarea {
    resize: none;
    overflow-y: auto;
    
}


