.herramientas-card{
      
        width: 150%;
        height: 320px;
        background: #192029;
}

.herramientas-img{
    
    margin-top: 30%;
    

}

.herramientas-bg{
    
    /* degradado3-dark */
    background: linear-gradient(141.34deg, #1C2531 24%, #18273F 36.15%, #142D33 56.85%, #1C2531 83.02%);
    /* shadowdark */
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);



}