 .principal-body {
    
    background-color: var(--bg-color-dark);
     text-align: center;
     justify-content: center;
     

 }


 .text{
    /* Encabezado1 */
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        /* identical to box height */
    
        text-align: center;
 }