 .cardform {
    background-color: var(--bg-color-dark);
   
    padding-right: 20px;
    border-radius: 25px;

}

.form-label {

    border-radius: 12px;
}

.cardform.text-3 {
    margin-left: 10px;
    margin-right: 10px;
}

.cardform .text-3:hover {
    color: var(--text-color-third);
}

 .cardformLink {
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
} 


.cardform .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.cardform-btn {
    margin-top: 20px;
}

.cardform-btn img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 991px) {
    .cardform-btn {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .cardform-btn img {
        margin-top: 0;
        margin-left: 10px;
    }
} 