
/*------------------------------Modificando la libreria de bootstrap--------------------------------- */

$enable-shadows: true;


/* $border-radius: .900rem; */
$border-radius: 30px;


/* -------------------------------Patrones de Colores------------------------ */

$obscuro :#000000;
$claro: #DFF4FF;
$primario : #1F2937;
$secundario :  #DFF4FF;
$claro:#DFF4FF;



$primary: $primario;
$secondary: $secundario;
$dark : $obscuro;
$light : $claro;


/* -------------------------------Patrones de Botones------------------------ */
$btn-padding-y: 5px;
$btn-padding-x: 22px;

 
$btn-box-shadow: 0px 10px 25px rgba(89, 42, 190, 0.15);
$btn-border-radius: 20px ;
$btn-line-height:24px;
$btn-font-style: normal;
$btn-font-weight:700;


/* ------------------------------Textos------------------------ */

$font-family-sans-serif:'Poppins';
$h1-font-size:50px;
$navbar-toggler-font-size: 25px;
$navbar-light-hover-color:#DFF4FF;
$navbar-light-toggler-border-color:#DFF4FF;




/* ------------------------------Card------------------------ */
$card-bg:#192029;


/* ------------------------------OffCanvas------------------------ */
$offcanvas-bg-color:#192029;
$offcanvas-transition-duration: .50s;
















@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import "../../../node_modules/bootstrap/scss/bootstrap.scss"

