/* -------------------------------Patrones de Colores------------------------ */

$primario : #1F2937;
$secundario :  #18273F;




/*---------------------------Modificando la libreria de bootstrap----------- */;

$primary: $primario;














@import "../../../node_modules/bootstrap/scss/bootstrap.scss"

