.card{
        background-color: var(--bg-color-card);
        box-shadow: var(--box-shadow);
        border-radius: 25px;
        padding: .5rem;
        max-width: 30%;
        margin: 1rem;
        min-width: 250px;
}