.card{
        background-color: var(--bg-color-card);
        box-shadow: var(--box-shadow);
        border-radius: 25px;
        padding: .5rem;
        max-width: 30%;
        margin: 1rem;
        min-width: 250px;
        cursor: pointer;
        transition: .25s;
}
.card:hover{
        transform: scale(1.03);
}

.card .encabezado-4::first-letter {
        text-transform: capitalize
}