

.proyectos-btn{
 
        /* Rectangle 93 */

            width: 1104px;
            height: 114px;
            left: 168px;
            top: 740px;
    
            /* degradado-stan */
        
            background: linear-gradient(124.5deg, #18273F 0%, #142D33 100%);
            /* shadowdark */
        
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
            border-radius: 25px;

        /* Crear nuevo proyecto */
    
           
        
            /* shadowdark */
        
       

}

.text{
    /* Encabezado2 */
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        /* identical to box height */
    
        text-align: center;
    
        color: #ffffff;

}

