.card{      
                width: 353px;
                height: 254px;
                background: #192029;
                box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
                border-radius: 25px;
}

.img-revista:hover {
        transform: scale(1.03);
        transition: .25s;
}