.convocatorias-bg{
    background: linear-gradient(141.34deg, #1C2531 24%, #18273F 36.15%, #142D33 56.85%, #1C2531 83.02%);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.convocatorias-card {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
