.footer {
    background: var(--bg-gradient-stan);
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3rem;
}

.copyright-body {
    background-color: var(--bg-color-card);
    padding: 2rem;
}

.footer .icon{
    font-size: 2rem;
    color: var(--text-color);
}

.address {
    color: var(--text-color);
}
.address:hover{
    color: var(--text-color);
}