

.obi-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
}
.obi-container img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-top: 1.5rem;
}

.obi-button{
      position:relative ;

}
.obi-img:hover {
        transform: scale(1.03);
        transition: .25s;
}