.galeria img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    margin:1rem;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 550px));
    gap: 1.5rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}
