.img-galeria {
        
        width: 100%;
        margin: 10px;
        filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.2));
        border-radius: 20px;


}

.galeria-1-1 {
    height: 45%;
}

.galeria-1-2 {
    height: 45%;
}

.galeria-2-1 {
    height: 55%;
}

.galeria-2-2 {
    height: 35%;
}

.galeria-3-1 {
    height: 25%;
}

.galeria-3-2 {
    height: 65%;
}
