.galeria img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    margin:1rem;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    justify-content: center;
}
