.modal-content {
    background: #1F2937;
    border-radius: 20px;
    padding: 1rem;
}

.text-description {
    width: 100%;
    white-space: pre-wrap !important;
    text-align: left;
    line-break: strict;
    justify-content: center;
    hyphens: 100px;
    overflow-wrap: break-word;
}
.modal-header,
.modal-footer {
    border: none;
}
.card-element {
    transition: all 0.3s ease;
  }
/* Nuevos estilos para videos */
.video-element {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 14px
}
  /* Animation styles on hover */
  .card-element:hover {
    transform: scale(1.1); 
    cursor: pointer;
  }

.contenedorModal{
    width: 10px;
    height: 10px;
}
.imgModal1{
    width: 80%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .modal-content{
        padding: .5rem;
    }
    div .fade .modal .show {
        padding-left: 50px;
    }
}